<!-- Toolbar -->
<div class="toolbar " role="banner">

    <a routerLink="/"><fa-icon class="mx-2 p-2" [icon]=" faPersonRunning"></fa-icon></a>
    <span class="text-2xl font-bold "> Runable </span>
    <div class="spacer"></div>
    <a class="mx-2" [routerLink]="['salesreport','1']" routerLinkActive="active">Salesreport</a>
    <a class="mx-2" [routerLink]="['create-event','1']" routerLinkActive="active">Create Event</a>
    <a class="mx-2" [routerLink]="['event-detail','1']" routerLinkActive="active">Event Detail</a>
    <a class="mx-2" [routerLink]="['user/ticket','1']" routerLinkActive="active">Your Ticket</a>
    <a class="mx-2" [routerLink]="['edit-user','1']" routerLinkActive="active">Edit User</a>
    <a class="mx-2" [routerLink]="['register-user']" routerLinkActive="active">Register User</a>
    <a class="mx-2" [routerLink]="['register-organizer']" routerLinkActive="active">Register Organizer</a>
    <a class="mx-2" [routerLink]="['racetype','1']" routerLinkActive="active">Create Racetype</a>
    </div>
<!-- Toolbar -->