<div class="mt-7 m-10 border-black border-2 rounded shadow-lg shadow-black">
    <div id="header" class="bg-slate-600 p-4 text-3xl text-white uppercase font-semibold ">Hey You're new here let try something !!!</div>
    <div class="p-2 bg-emerald-100 py-40 sm:py-36 justify-center items-center flex">
        <button class="uppercase bg-red-600 p-3 text-xl font-semibold text-white rounded-full shadow shadow-inherit hover:bg-red-700 focus:outline-none focus:ring focus:ring-violet-300 active:bg-red-600"
        (click)="backToHome()">
            click me for something new !!!
        </button>
    </div>
</div>
