<!-- <p>searchresult works!</p> -->
<div class="searchResultContainer" > 
  

    <div class="searchResultHeading" ><h1 style ="font-size: 30px;">ผลการค้นหา</h1></div>
    
    <div class="searchResultCardContainer">
    
    <div class = "searchResultCard1" *ngFor="let eventdata of datafromsearchbar" >
     
        <img class = "searchResultCard1img" src= "../../../assets/img/amway.jpeg" alt="images">
        <h1>{{eventdata.name}}</h1>
        <p><span>{{eventdata.province}}</span></p>
        <p><span>{{eventdata.distance}}</span></p>
    
    </div>
    
    
    <!-- <div class = "searchResultCard1">
     
        <img class = "searchResultCard1img" src= "./../../assets/img/blackmore.jpeg" alt="images">
        <h1>Khao Suan Kwang Trail 2023</h1>
        <p><span></span>Bangkok</p>
        <p><span></span>บริษัท เวคอัพ ทีม จำกัด</p>
    </div>
    <div class = "searchResultCard1">
     
        <img class = "searchResultCard1img" src= "../../assets/img/boston.jpeg" alt="images">
        <h1>Khao Suan Kwang Trail 2023</h1>
        <p><span></span>Bangkok</p>
        <p><span></span>บริษัท เวคอัพ ทีม จำกัด</p>
    </div>
    
    <div class = "searchResultCard1">
     
        <img class = "searchResultCard1img" src= "../../assets/img/cmadong.png" alt="images">
        <h1>Khao Suan Kwang Trail 2023</h1>
        <p><span></span>Bangkok</p>
        <p><span></span>บริษัท เวคอัพ ทีม จำกัด</p>
    </div>
    <div class = "searchResultCard1">
     
        <img class = "searchResultCard1img" src= "../../assets/img/motive.png" alt="images">
        <h1>Khao Suan Kwang Trail 2023</h1>
        <p><span></span>Bangkok</p>
        <p><span></span>บริษัท เวคอัพ ทีม จำกัด</p>
    </div> -->
    
    </div>
    
    </div>
    
    
    