<div class="container">
  <div class="row">
    <h2 class="text-lg font-medium text-white">Ticket Information</h2>
    <span class="w-full p-0.5 bg-white lg:w-full"></span>
  </div>

  <div class="row mt-3">
    <h3 class="text-white text-base">Ticket</h3>
    <div class="row">
      <div class="col text-white"><p>ID :</p></div>
      <div class="col text-white">
        <p class="text-base font-medium">{{ theTicket?.id }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-white"><p>NAME :</p></div>
      <div class="col text-white">
        <p class="text-base font-medium">{{ theTicket?.raceType?.name }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-white"><p>DATE :</p></div>
      <div class="col text-white">
        <p class="text-base font-medium">{{ theTicket?.createDate | date }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-white"><p>STATUS :</p></div>
      <div class="col text-white">
        <p class="text-base font-medium">{{ theTicket?.status }}</p>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <span class="w-full p-0.5 bg-white lg:w-full mb-3"></span>
    <div class="col"><p class="text-white">TOTAL PRICE :</p></div>
    <div class="col">
      <p class="text-white text-base font-medium">
        {{ theTicket?.raceType?.price }}
      </p>
    </div>
  </div>
</div>
